<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../assets/boostrap/bootstrap.css">
    <link rel="stylesheet" href="../assets/swiper/swiper.css">
    <script src="../cookie.js"></script>


    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>

<script>deleteCookies();</script>













    <div class="header">
        <div class="container">
            <div class="header-data-container flex j-space-between">
                <div class="header-item  flex j-center a-center" style="margin-left: 20px;">
                    <div class="header-item-logo ">
                        <img src="../assets/img/headerLogo.png" alt="" srcset="">
                    </div>
                    <div class="header-item-text">
                        <span class="header-title-text">T.C Sağlık Bakanlığı
                            Aile Hekimiği Sistemi
                        </span>
                        <span class="header-title-text"></span>
                    </div>
                </div>
                <div class="header-item flex a-center">
                    <div data-toggle="modal" data-target="#exampleModal" class="profile-container flex a-center">
                        <div class="profile-container-logo"><i class="fas fa-lock"></i></div>
                        <div class="profile-container-login">
                            <div class="profile-container-login-text">Giriş Yap</div>
                            <div class="profile-container-register-text">veya randevu al</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-body">

        <div class="body-items">
            <div class="slider">
                <!-- Swiper -->
                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="../assets/img/korona.jpg" alt="" srcset=""></div>
                        <div class="swiper-slide"><img src="../assets/img/sliderSaglik.png" alt="" srcset=""></div>
                        <div class="swiper-slide"><img src="../assets/img/fkoca.jpg" alt="" srcset=""></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flex " style="justify-content: space-between;     margin-top: 50px;">
                <div class="news">
                    <div class="news-title">Haberler</div>
                    <hr>
                    <div class="news-item">
                        <div class="news-item-image flex j-center"><img src="../assets/img/fkoca.jpg" alt=""></div>
                        <div class="news-item-content">
                            <div class="news-item-title">Son Dakika</div>
                            <hr>
                            <div class="news-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                                nostrum delectus aliquid, voluptates culpa officia dicta, in ex perferendis neque modi,
                                iure at. Aspernatur, obcaecati? Libero officia voluptatum ducimus voluptas!</div>
                        </div>
                        <div class="news-item-detail flex j-space-between">
                            <div class="news-item-detail-left">
                                13.06.2020 16:35
                            </div>
                            <div class="news-item-detail-right">
                                <a href="">Devamını Oku</a>
                            </div>
                        </div>


                    </div>
                    <div class="news-item">
                        <div class="news-item-image flex j-center"><img src="../assets/img/korona.jpg" alt=""></div>
                        <div class="news-item-content">
                            <div class="news-item-title">Son Dakika</div>
                            <hr>
                            <div class="news-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                                nostrum delectus aliquid, voluptates culpa officia dicta, in ex perferendis neque modi,
                                iure at. Aspernatur, obcaecati? Libero officia voluptatum ducimus voluptas!</div>
                        </div>
                        <div class="news-item-detail flex j-space-between">
                            <div class="news-item-detail-left">
                                13.06.2020 16:35
                            </div>
                            <div class="news-item-detail-right">
                                <a href="">Devamını Oku</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="announcement">
                    <div class="announcement-title">Duyurular</div>
                    <hr>
                    <div class="announcement-item">
                        <div class="news-item-title">Randevu Nasıl Alınır ?</div>
                        <hr style="width: 100%">
                        <div class="news-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                            nostrum delectus aliquid, voluptates culpa officia dicta, in ex perferendis neque modi,
                            iure at. Aspernatur, obcaecati? Libero officia voluptatum ducimus voluptas!</div>
                    </div>
                    <div class="announcement-item">
                        <div class="news-item-title">Doktorlar için AHS ?</div>
                        <hr>
                        <div class="news-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                            nostrum delectus aliquid, voluptates culpa officia dicta, in ex perferendis neque modi,
                            iure at. Aspernatur, obcaecati? Libero officia voluptatum ducimus voluptas!</div>
                    </div>
                    <div class="announcement-item">
                        <div class="news-item-title">AHS V1.0 Notes</div>
                        <hr>
                        <div class="news-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                            nostrum delectus aliquid, voluptates culpa officia dicta, in ex perferendis neque modi,
                            iure at. Aspernatur, obcaecati? Libero officia voluptatum ducimus voluptas!</div>
                    </div>
                    <div class="announcement-item">
                        <div class="news-item-title">Hasan & Yusuf AHS</div>
                        <hr>
                        <div class="news-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-contact flex">
            <div class="footer-contact-container">
                <div class="footer-contact-container-title">İLETİŞİM</div>
                <div class="footer-contact-container-content"> Adres : Yenişehir Mh. Alpha Beta Gamma Sk. NO : V/IXX
                    Mars/Silivri</div>
            </div>
            <div class="footer-contact-container">
                <div class="footer-contact-container-title">Hasan Korkmaz</div>
                <div class="footer-contact-container-icons flex j-center">
                    <i class="fab fa-github"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            <div class="footer-contact-container">
                <div class="footer-contact-container-title">Yusuf Şirin</div>
                <div class="footer-contact-container-icons flex j-center">
                    <i class="fab fa-github"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>

        </div>
        <div class="copyright">© Copyright 2020 | Hasan & Yusuf Organization Tüm Hakları MIT Lisansı ile dağıtıma
            açıktır.</div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Giriş Yap & Randevu Al</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="button-group flex j-space-evenly">
                        <button type="button" id="login-staff-button" class="btn btn-primary">Personel Girişi</button>
                        <button type="button" id="login-patient-button" class="btn btn-primary">Hasta Girişi</button>
                    </div>
                    <div id="login-staff-div" style="display: none;">
                        <form id="login-staff-form" class="form-inline" style="margin-top: 20px;">
                            <div class="form-group">
                                <label style="font-weight: 700;" for="PersonelTC">Personel TC :</label>
                                <input style="margin-left: 10px;" type="text" name="PersonelTC" class="form-control"
                                    placeholder="16342751624">
                                <input type="hidden" name="loginType" value="0">

                            </div>
                            <div class="form-group">
                                <label style="font-weight: 700;" for="Sifre">Şifre :</label>
                                <input style="margin-left: 63px;" type="password" name="Sifre" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div id="login-patient-div">
                        <form id="login-patient-form" class="form-inline " style="margin-top: 20px;">
                            <div class="form-group">
                                <label style="font-weight: 700;" for="PatientTC">Hasta TC :</label>
                                <input style="margin-left: 10px;" type="text" name="PatientTC" class="form-control"
                                    placeholder="16342751624">
                            </div>
                            <input type="hidden" name="loginType" value="1">
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="button" id="loginButton" class="btn btn-primary">Giriş Yap</button>
                </div>
            </div>
        </div>
    </div>












    <!-- Initialize Swiper -->
    <script src="../assets/swiper/swiper.js"></script>
    <script src="../assets/boostrap/bootstrap.js"></script>
    <script src="../assets/notify/notify.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            spaceBetween: 30,
            centeredSlides: true,
            loop: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        var loginType = "Patient";
        var loginStaffBtn = $('#login-staff-button');
        var loginPatientButton = $('#login-patient-button');
        var loginButton = $('#loginButton');
        loginStaffBtn.click(function () {
            loginType = "Staff";
            $('#login-staff-div').css("display", "block");
            $('#login-patient-div').css("display", "none");

        });
        loginPatientButton.click(function () {
            loginType = "Patient";
            $('#login-staff-div').css("display", "none");
            $('#login-patient-div').css("display", "block");

        });
        loginButton.click(function () {
            var loginPatientForm = $('#login-patient-form');
            var loginStaffForm = $('#login-staff-form');
            if (loginType == "Patient") {
                $.ajax({
                    type: "POST",
                    url: "../server/login.php",
                    data: loginPatientForm.serialize(),
                    success: function (response) {

                        var obj = JSON.parse(response);

                        if (obj.Status == true) {
                            $.notify(obj.Message, "success");

                            var timer = window.setTimeout(() => {
                                document.cookie = "AHSUserType=1;TC=";
                                document.cookie = "AHSTC=" + obj.Data.TC + ";";
                                document.cookie = "AHSnameSurname=" + obj.Data.Ad + " " + obj.Data.Soyad + ";";
                                console.log("timerEnd");
                                clearTimeout(timer);
                                window.location.href = "patient.html";
                            }, 3000);
                        }
                        else { $.notify(obj.Message, "error"); }
                    }
                });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "../server/login.php",
                    data: loginStaffForm.serialize(),
                    success: function (response) {
                        var obj = JSON.parse(response);
                        if (obj.Status == true) {
                            $.notify(obj.Message, "success");

                            var timer = window.setTimeout(() => {
                                document.cookie = "AHSUserType=0;TC=";
                                document.cookie = "AHSTC=" + obj.Data.TC + ";";
                                document.cookie = "AHSnameSurname=" + obj.Data.Ad + " " + obj.Data.Soyad + ";";
                                
                                clearTimeout(timer);
                                window.location.href = "patient.html";
                            }, 3000);
                        }
                        else {
                            $.notify(obj.Message, "error");

                        }


                    }
                });
            }
        })


    </script>
</body>

</html>